<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">SMS Balance</div>
            <div class="item item-body">
                <div>
                    Your SMS balance: <b ng-bind="bal"></b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">SMS Log for 24 hours</div>
            <div class="item item-body">
                <div ng-bind="msg">
                    
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Login Token</div>
            <div class="item item-body">
                <div>
                    You are loggin in as: <b ng-bind="token"></b>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>