<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.ionicframework.sms247744528" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SMS 247</name>
    <description>
        SMS 247 Mobile App
    </description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">
        Christian Nwamba
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <icon src="resources/icon.png" />
    <splash src="resources/android/splash/drawable-port-ldpi-screen.png" />
    <platform name="android">
        <icon src="res/android/icon/drawable-ldpi-icon.png" density="ldpi" />
        <icon src="res/android/icon/drawable-mdpi-icon.png" density="mdpi" />
        <icon src="res/android/icon/drawable-hdpi-icon.png" density="hdpi" />
        <icon src="res/android/icon/drawable-xhdpi-icon.png" density="xhdpi" />
        <icon src="res/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi" />
        <icon src="res/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi" />
        <splash src="res/android/splash/drawable-land-ldpi-screen" density="land-ldpi" />
        <splash src="res/android/splash/drawable-land-mdpi-screen" density="land-mdpi" />
        <splash src="res/android/splash/drawable-land-hdpi-screen" density="land-hdpi" />
        <splash src="res/android/splash/drawable-land-xhdpi-screen" density="land-xhdpi" />
        <splash src="res/android/splash/drawable-land-xxhdpi-screen" density="land-xxhdpi" />
        <splash src="res/android/splash/drawable-land-xxxhdpi-screen" density="land-xxxhdpi" />
        <splash src="res/android/splash/drawable-port-ldpi-screen" density="port-ldpi" />
        <splash src="res/android/splash/drawable-port-mdpi-screen" density="port-mdpi" />
        <splash src="res/android/splash/drawable-port-hdpi-screen" density="port-hdpi" />
        <splash src="res/android/splash/drawable-port-xhdpi-screen" density="port-xhdpi" />
        <splash src="res/android/splash/drawable-port-xxhdpi-screen" density="port-xxhdpi" />
        <splash src="res/android/splash/drawable-port-xxxhdpi-screen" density="port-xxxhdpi" />
    </platform>
</widget>